
PORT=                               ##! Asignacion del puerto de la aplicacion
NODE_ENV=                           ##! Asignación del entorno según el ambiente (development o production)
MONGODB=                            ##! Asingacion de la ruta correspondiente a la BD
DEFAULT_LIMIT=                      ##! Asingacion de el limite de datos que deseamos recibir en respuesta ( findAll )
DEFAULT_INSERT_LIMIT=               ##! Asingacion del limite de datos que deseamos insertar en la BD mediante el SEED